body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background: linear-gradient(45deg, #d4fbff 30%, #b0f8ff 90%);
    background-size: cover;
    height: 100vh;
}

#rpsHeader {
    text-align: center;
    color: #565656;
}

#logo {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

#lobbyLogo {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
}

#chatContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}  

#chatDiv {    
    width: 50%;
    margin: 20px 0px;
    border-radius: 5px;
    background: linear-gradient(45deg, #ffffff 30%, #fff1f1 90%);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

#msgContainer {
    height: 150px;
    overflow: scroll;
    background-color: #fff;
    border-radius: 4px;
}

.msg {
    margin-bottom: 0px;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
}

.p1 {
    background: linear-gradient(45deg, #ffffff 30%, #fff1f1 90%);
}

.p2 {
    background: linear-gradient(45deg, #ffffff 30%, #f1f2ff 90%);
}

#inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    border-radius: 4px;
    background: linear-gradient(45deg, #373ced 30%, #262bc7 90%);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

#chatInput {
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

#chatSubmit {
    width: 100px;
    margin-left: 5px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: white;
    background: linear-gradient(45deg, #f23e16 30%, #d92800 90%);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

#chatSubmit:hover {
    background: linear-gradient(45deg, #fa5c39 30%, #f7390f 90%);
}

.scoreDiv {
    text-align: center;
    margin-top: 20px;
}

.p1ScoreDiv {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background: red;
    width: 35%;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.p2ScoreDiv {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    background: #939393;
    padding: 10px;
    width: 35%;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.tiesScoreDiv {
    text-align: center;
    border-radius: 5px;
    background: yellow;
    padding: 10px;
    display: inline-block;
    margin: 0px 10px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.p1ChoiceDiv {
    display: inline-block;
    border-radius: 5px;
    background: red;
    padding: 10px;
    margin: 20px 10px 0px 0px;
    min-height: 100px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.p2ChoiceDiv {
    display: inline-block;
    border-radius: 5px;
    background: #939393;
    padding: 10px;
    margin: 20px 0px 0px 0px;
    min-height: 100px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.playerChoice {
    height: 100px;
    width: 100px;
}

.playerChose {
    height: 100px;
    width: 100px;
}

.playerChoosing {
    height: 100px;
    width: 100px;
    animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

#outer {
    width: 100%;
    text-align: center;
}

#btnTarget{
    display: inline-block;
    margin: 40px;
}

#rock {
    height: 100px;
    width: 100px;
    margin: 20px;
}

#paper {
    height: 100px;
    width: 100px;
    margin: 20px;
}

#scissor {
    height: 100px;
    width: 100px;
    margin: 20px;
}

#notification {
    margin: 40px;
}

@media (max-width: 576px) {
    .p2ChoiceDiv{
        margin: 20px 10px 0px 0px;
    }
}
